<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Add another user money</title>
</head>
<body>
<div th:if="${message}">
  <div th:text="${message}"></div>
  <div th:text="${message2}"></div>
</div>
<form th:action="@{/addAnotherCash}" method="post">
  <div><label> add : <input type="text" name="add"/> </label></div>
  <div><input type="submit" value="Отправить деньги другому пользователю"/></div>
</form>
</body>
</html>