<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}"></div>
</div>
<form th:action="@{/registration}" method="post">
    <div><label> cardnumber : <input type="text" name="cardnumber"/> </label></div>
    <div><label> cvv: <input type="password" name="cvv"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>